/Selenium-Script/Pipfile
/Selenium-Script/Pipfile.lock
/Blog-App-API/Pipfile
/Blog-App-API/Pipfile.lock
/Beautiful-Soup-Task/Pipfile
/Beautiful-Soup-Task/Pipfile.lock
/BOTO3/Pipfile
/BOTO3/Pipfile.lock